body {
    margin: 0;
    line-height: normal;
    zoom: 3;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-8xs: 5px;
    --font-size-5xs: 8px;
  
    /* Colors */
    --color-black: #000;
    --color-gainsboro: rgba(217, 217, 217, 0);
    --color-lightgray-100: rgba(208, 208, 208, 0.9);
    --color-blueviolet: #7c4ffb;
  
    /* border radiuses */
    --br-mini: 15px;
    --br-9xs: 4px;
  }
  