.bottom-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 146px;
  height: 90px;
}
.sign-up {
  color: var(--color-blueviolet);
}
.dont-have-an-container {
  position: absolute;
  top: 16px;
  left: 35px;
  display: inline-block;
  width: 78px;
  height: 8px;
}
.bottom-part-child {
  position: absolute;
  top: -0.5px;
  left: 7.5px;
  border-top: 1px solid rgba(140, 140, 140, 0.9);
  box-sizing: border-box;
  width: 132px;
  height: 1px;
}
.bottom-part,
.log-in-btn-bg,
.middle-bg {
  position: absolute;
  top: 225px;
  left: 0;
  width: 146px;
  height: 90px;
}
.log-in-btn-bg,
.middle-bg {
  top: 0;
  background-color: var(--color-gainsboro);
  height: 141px;
}
.log-in-btn-bg {
  border-radius: 7px;
  background-color: var(--color-blueviolet);
  width: 130px;
  height: 21px;
}
.log-in {
  position: absolute;
  top: 4px;
  left: 48px;
  font-size: 10px;
  display: inline-block;
  font-family: var(--font-inter);
  color: #fff;
  text-align: center;
  width: 33px;
  height: 14px;
}
.log-in-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 104px;
  left: 8px;
  width: 130px;
  height: 21px;
}
.text-pass {
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 131px;
}
.input,
.pass-input,
.text-pass {
  position: absolute;
  height: 14px;
}
.input {
  /* border: 0; */
  display: inline-block;
  font-family: var(--font-inter);
  font-size: var(--font-size-5xs);
  background-color: transparent;
  top: 0;
  left: 1px;
  font-weight: 700;
  color: #5f5f5f;
  text-align: left;
  width: 130px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
}
.pass-input {
  top: 78px;
  left: 7px;
  width: 131px;
}
.abcgmailcom,
.forgot-password,
.password {
  position: absolute;
  top: 62px;
  display: inline-block;
  height: 9px;
}
.forgot-password {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 93px;
  font-size: var(--font-size-8xs);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-blueviolet);
  text-align: center;
  width: 45px;
}
.abcgmailcom,
.password {
  left: 7px;
  width: 26px;
}
.abcgmailcom {
  /* border: 0; */
  font-family: var(--font-inter);
  font-size: var(--font-size-5xs);
  background-color: transparent;
  top: 0;
  left: 1px;
  font-weight: 700;
  color: #606060;
  text-align: left;
  width: 129px;
  height: 15px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
}
.email,
.email-input,
.or,
.text-email {
  position: absolute;
  width: 131px;
  height: 15px;
}
.text-email {
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
}
.email,
.email-input,
.or {
  top: 36px;
  left: 7px;
}
.email,
.or {
  top: 20px;
  display: inline-block;
  width: 16px;
  height: 9px;
}
.or {
  top: 0;
  left: 57px;
  width: 8px;
  height: 8px;
}
.or-part-child,
.or-part-item {
  position: absolute;
  top: 3.5px;
  left: -0.5px;
  border-top: 1px solid #777;
  box-sizing: border-box;
  width: 51px;
  height: 1px;
}
.or-part-item {
  left: 69.5px;
  border-top: 1px solid #7b7b7b;
}
.or-part {
  position: absolute;
  top: 6px;
  left: 12px;
  width: 120px;
  height: 8px;
}
.middle-part,
.upper-bg {
  position: absolute;
  top: 84px;
  left: 0;
  width: 146px;
  height: 141px;
}
.upper-bg {
  top: 0;
  background-color: var(--color-gainsboro);
  height: 84px;
}
.google-icon-png-768x768-1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 59px;
  left: 114px;
  border-radius: var(--br-mini);
  width: 25px;
  height: 25px;
  background-image: url(./public/googleiconpng768x7681@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.twitter-1 {
  top: 59px;
  left: 78px;
  border-radius: 19px;
  width: 25px;
  height: 25px;
  background-image: url(./public/twitter1@3x.png);
}
.apple-icon-20-1,
.fb-1,
.twitter-1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.fb-1 {
  top: 59px;
  left: 42px;
  border-radius: var(--br-mini);
  width: 25px;
  height: 25px;
  background-image: url(./public/fb1@3x.png);
}
.apple-icon-20-1 {
  top: 56px;
  left: 5px;
  width: 28px;
  height: 28px;
  background-image: url(./public/appleicon201@3x.png);
}
.welcome-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 131px;
  height: 13px;
}
.welcome,
.welcome-back-enter {
  position: absolute;
  width: 132px;
  height: 13px;
}
.welcome-back-enter {
  top: 0;
  left: 0;
  display: inline-block;
}
.welcome {
  top: 33px;
  left: 7px;
}
.log-in-bg {
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
}
.log-in-bg,
.log-in1,
.login {
  position: absolute;
  width: 45px;
  height: 16px;
}
.log-in1 {
  top: 0;
  left: 0;
  display: inline-block;
}
.login {
  top: 15px;
  left: 7px;
  font-size: 12px;
}
.upper-part {
  position: absolute;
  top: 0;
  left: 0;
  width: 146px;
  height: 84px;
  text-align: left;
}
.bottom-part-parent {
  position: relative;
  margin: auto;
  background-color: #f5fdff;
  width: 146px;
  height: 315px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-8xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
